
.caja_padre{
             width: 600px;
             border: 2px solid #EFEFEF;
             margin-left: 50px;
             overflow: hidden;
	
}
.cuadrado1{
           background-color:#FFFF00;
           height: 100px;
           width: 150px;
           float:left;
}
.cuadrado2{
           background-color:#3A81BA;
           height: 100px;
           width: 150px;
           float:left;
}
.cuadrado3{
           background-color:#ED2251;
           height: 100px;
           width: 150px;
           float:left;
}